@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');

//fonts
$titleFont: "Permanet Marker";
$bodyFont: "Shadows Into Light";

//colors
$lightGreen: #BBFFA0;
$purple: #A97DDE;
$pink: #EB65D2;
$blue: #3C91DB;
$darkGreen: #26da20;
$brown: #A4775A;


h1, h2, h3, h4, h5, h6 {
    font-family: $titleFont;
}
body {
    font-family: $bodyFont;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
header {
    display: flex;
    align-items: center;
    background-color: $lightGreen;
    border: solid 2px $darkGreen;
    color: $brown;
    margin-bottom: 10px;
    & #icon {
        width: 250px;
        height: auto;
        margin: 5px;
    }
    & h1 {
        margin: 0;
        padding: 10px;
    }
}

#options {
    display: flex;
    justify-content: space-around;
    background-color: $brown;
    & div {
        color: white;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        font-size: large;
    }
}
.clicked {
    background-color: $blue;
}
#lister, #searcher, #bowler {
    display: none;
}
#viewBox {
    margin-top: 10px;
    border: solid $blue 5px;
    border-radius: 0 50px 0 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
#lister.seen, #searcher.seen, #bowler.seen {
    display: block;
}
div.container ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid $blue 5px;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
li button.details-btn {
    background-color: $brown;
    color: white;
    width: 120px;
    height: 30px;
}
li button.add {
    background-color: $darkGreen;
    color: white;
    width: 120px;
    height: 30px;
}
li div.details-div {
    text-align: center;
    display: none;
}
li * {
    align-self: center;
    justify-self: center;
}