@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');

//fonts
$titleFont: "Permanet Marker";
$bodyFont: "Shadows Into Light";

//colors
$lightGreen: #BBFFA0;
$purple: #A97DDE;
$pink: #EB65D2;
$blue: #3C91DB;
$darkGreen: #26da20;
$brown: #A4775A;


h1, h2, h3, h4, h5, h6 {
    font-family: $titleFont;
    margin: 2px;
}
body {
    font-family: $bodyFont;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
header {
    display: flex;
    align-items: center;
    background-color: $lightGreen;
    border: solid 2px $darkGreen;
    color: $brown;
    margin-bottom: 10px;
    & #icon {
        width: 250px;
        height: auto;
        margin: 5px;
    }
    & h1 {
        margin: 0;
        padding: 10px;
    }
}
button {
    border: none;

    &:active {
        transform: scale(1.01);
    }
}

#options {
    display: flex;
    justify-content: space-around;
    background-color: $brown;
    & div {
        color: white;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        font-size: large;
    }
}
.clicked {
    background-color: $blue;
}
#lister, #searcher, #bowler {
    display: none;
}
#viewBox {
    margin-top: 10px;
    border: solid $blue 5px;
    border-radius: 0 50px 0 50px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
#lister.seen, #bowler.seen {
    display: block;
}
#searcher.seen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(autofill, content);
    padding: 5px;
}
input {
    padding: 5px;
    margin: 8px;
    border-radius: 15px;
    grid-column: 1 / 3;
    grid-row: 1;
}
.searching {
    background-color: $purple;
    color: white;
    grid-column: 3 / 4;
    grid-row: 1;
    border-radius: 15px;
    padding: 5px;
    margin: 8px;
}
#searcher ul {
    grid-column: 1 / 4;
    border-top: solid $blue 5px;
}
.container ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid $blue 5px;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.details {
    background-color: $brown;
    color: white;
    width: 120px;
    height: 30px;
}
.add {
    background-color: $darkGreen;
    color: white;
    width: 120px;
    height: 30px;
}
.remove {
    background-color: $purple;
    color: white;
    width: 120px;
    height: 30px;
}
.eat {
    background-color: $pink;
    color: white;
    width: 120px;
    height: 30px;
}
.details-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: span 3;
    width: 100%;
}
li * {
    align-self: center;
    justify-self: center;
}
.berry {
    height: 40px;
    transition: height 1s linear;
    //animation-delay: .5s;
    overflow: hidden;
}
.bigger, .show {
    height: 80px;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    height: 30px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  #snackbar.show {
    visibility: visible; 
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


 
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }