@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#todo-box, button, input {
    font-family: "Pacifico", Helvetica, sans-serif;
}
#todo-box {
    display: flex;
    flex-direction: column;
    border: solid #666;
    width: 400px;
    min-height: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #008B8B;
}
h2 {
    font-size: xx-large;
    margin: 5px;
}
#todo-box footer {
    border: solid #666;
    margin: 0 13px 30px 13px;
    padding: 5px;
    background-color: white;
}
#todo-box footer button {
    background-color: white;
}
footer {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
footer button {
    border: none;
}
.clicked {
    border: solid #666 2px;
}
.check {
    width: 25px;
    margin: 5px;
    justify-self: left;
}
ul {
    display: flex;
    flex-flow: column;
    flex-grow: 2;
    list-style: none;
    padding:  10px;
}
li {
    border: solid #666;
    padding: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    background-color: white;
    place-items: center;
}
li p {
    margin: 2px;
    grid-column: 2;
    justify-self: left;
}
li button {
    width: 25px;
    height: 25px;
    font-size: x-large;
    text-align: center;
    font-family: monospace;
    padding: 0;
    grid-column: 3;
    justify-self: right;
    border: solid #666 2px;
    background-color: #008B8B;
    color: white;
}
.task-bar {
    background-color: #008B8B;
    height: 30px;
}
input {
    width: 200px;
    height: 35px;
    border: solid #666 2px;
}
form {
    justify-self: flex-end;
    margin-bottom: 5px;
}
form button {
    background-color: #008B8B;
    height: 40px;
    width: 40px;
    border: solid #666 2px;
    font-size: large;
    color: white;
}